#slider
{
    width: 720px;
    height: 400px;
    overflow: hidden;
}
#slider .slides
{
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}
#slider .slides
{
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}