#introducere
{
    font-family: fantasy;
    font-size: large;
    color: darkgreen;
    font-style: oblique;
    background-image: url("img/school/back.jpg");
    background-size: cover;
    width: 730px;
    height: 400px;
    box-shadow: 10px 10px 5px #888888;

}
.page-header
{
    background-image: url("img/school/puzzle.jpg");
    font-family: fantasy;
    font-size: 120px;
    color: darkgreen;
    box-shadow: 10px 10px 5px #888888;
}
.sr-only
{
    color: darkgreen;
}

#promo1
{
    background-image: url("img/school/masina3.jpg");
    background-size: cover;
    width: 200px;
    height: 150px;
    margin-left: 20;
    box-shadow: 10px 10px 5px #888888;
  
}
#promo2
{
    background-image: url("img/school/puzzle3.jpg");
    background-size: cover;
    width: 200px;
    height: 150px;
    margin-left: 20;
    box-shadow: 10px 10px 5px #888888;

}
#promo3
{
    background-image: url("img/school/elicopter4.jpg");
    background-size: cover;
    width: 200px;
    height: 150px;
    margin-left: 20;
    box-shadow: 10px 10px 5px #888888;

}
#promo4
{
    background-image: url("img/school/bicicleta5.jpg");
    background-size: cover;
    width: 200px;
    height: 150px;
    margin-left: 20;
    box-shadow: 10px 10px 5px #888888;

}
a
{
    color:orange;
    font-family: fantasy;
    font-size: large;

}
#logo
{
    position: fixed;
    bottom: 700px;
    width: 150px;
    height: 100px;


}
@-webkit-keyframes logo
{
    0%
    {
        -webkit-transform: rotate(0deg);
        left:0px;
    }
    25%
    {
        -webkit-transform: rotate(20deg);
        left: 0px;
    }
    50% {
        -webkit-transform: rotate(0deg);
        left: 600px;
        bottom: 100px;
    }
    55% {
        -webkit-transform: rotate(0deg);
        left: 600px;
        buttom:100px;
    }
    70% {
        -webkit-transform: rotate(0deg);
        left: 600px;
        buttom:100px;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        left: 0px;
    }
}
#logo:hover {
    -webkit-animation: logo 5s 2;
}
#slider
{
    width: 720px;
    height: 400px;
    overflow: hidden;
}
#slider .slides
{
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}
#slider .slides
{
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}